<h1>O twórcy</h1>
<div id='o_aut'>
<p>Marcin Szpaderski</br>
Aplikacja zrobiona na potrzeby laboratoriów
</p>
<p><a href="mailto:szpaderskimarcin@gmail.com?Subject=Potrzebna%20pomoc">Skontaktuj się ze mną!</a></p>

</div>